<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Solar System Clock Form
        </title>
    </head>
    <body>
    <center>
    <img src="static/ssc_logo2.png" width="700">
    </center>
        <h2>
            GPS Coordinates
        </h2>
        <p>
            Please enter the  GPS coordinates of your Solar System Clock in decimal degrees:<br>
        </p>
            <form action="/forminfo" method="post">
                Latitude (N/S):<br>
                <input type="text" name="lat"><br>
                Enter positive number in decimal degrees for N (0 to 90), negative number for S (-90 to 0)<br><br>
                Longitude (W/E):<br>
                <input type="text" name="lon" /><br>
                Enter positive number for E (0 to 180), negative number for W (-180 to 0)<br><br>
                <input type="submit" name= "form" value="Submit" />
            </form>
        <p>
            For example:<br>
            Lat: 38.9072, Lon: -77.0369 are the coordinates for Washington, DC.<br>
            Lat: -33.8688, Lon: 151.2093 are the coordinates for Sydney, Australia.<br>
        </p>
    </body>
</html>