[Unit]
Description=Solar System Clock Display Service

[Service]
Type=exec
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 -u /home/pi/main.py

[Install]
WantedBy=multi-user.target
